body
{
    background:url(../css/images/bg.jpg);}
.clear{ clear:both; }
*{margin:0;padding:0;}
a{
	text-decoration:none;
	color:black;
}
.header {
	font-size: 12px;
	height: 83px;
	width: 1000px;
	margin: 0 auto;
	background:url(images/head_bg.png) repeat-x;
}
.logo {
	height: 85px;
	width: 500px;
	float: left;
	font-size:36px;
}
.login {
	float: right;
	height: 20px;
	width: 370px;
	font-size:12px;
	font-weight:bold;
	color:#FFDD00;
	margin-top:11px;
	margin-right:30px;
}

.loginUser{
	height:40px;
	float:right;
	margin-top:12px;
	margin-right:18px;
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	color:#ffffff;
}
.textbox{
	width:120px;
	height:18px;
	margin:auto 0px;
	border:solid #FFDD00 1px;
}
.button
{
    font-size:12px;
	width:30px;
	height:20px;
	background:#FFDD00;
	color:#000;
	text-align:center;
	float:right;
	padding-top:3px;
	border-style:none;
}
.register{
	float:right;
	height:20px;
	width:200px;
	clear:right;
	font-size:12px;
	font-weight:bold;
	color:#FFDD00;
	margin-top:5px;
}
.register a{
	color:#FFDD00;
}
.nav {
	width:310px;
	height:30px;
	float:right;
	clear:right;
}
.check{
	height:27px;
	width:135px;
	float:left;
	text-align:center;
	background:#FFDD00;
	font-size:14px;
	font-weight:bold;
	color:#900;
	margin-left:5px;
	line-height:30px;
	background-color:#FFDD00;
	border-radius:5px;
}
.check a:hover{
	color:red;
}
#white{
	background-color:#ffffff;
}