
/* CSS Document */
.clear{clear:both;}
body{ margin:0px; padding:0px; background-color:#c6c9ce; }
body{ font-size:12px; font-family:Arial, Helvetica, sans-serif,"宋体"}
body{ background-color:#ffffff;}
.head{ height:60px; margin:0px; padding:20px 0; width:100%; background:#30323A;}
.head .adminLogo{ margin-left: 40px; float:left; }
.head .adminUser{ margin-right:30px; float:right; }

.loginDiv{ width:500px; height:280px; margin:50px auto 50px auto; background:#FFF; border:solid 1px #ccc; border-top:none;  }
.loginTitle{ height:43px; width:500px; background:url(Images/login_title.png) repeat-x; }
.loginTitle p{ line-height:42px; margin-left:20px; font-weight:bold; }
.loginMain { width:310px; margin:20px auto;}

input:focus{ border:#96C2F1 solid 1px; background:#EFF7FF; }

#adminName,#adminPassword,#adminCode{ font-size:16px; height:30px;}
#adminName,#adminPassword{width:220px;}
#adminCode { width:80px;}
#adminButton { border:none; background:url(images/login_btn.png); width:80px; height:40px; }

.foot{width:700px; border-top:#95979E dashed 1px; margin:10px auto 0px auto; }
.foot p{text-align:center;}

.black12{ font-size:12px; color:#000; }
.white16{ font-size:16px; color:#FFF; }
.white14{ font-size:14px; color:#fff; }
